.projects-container {
    display: flex;
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
    height: calc(100% - 78px);
    flex-direction: column;
    color: white;
    align-items: center;
    font-size: 1.2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    width: 70%;
    margin-top: 100px;
}

.project {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.project .demo-img {
    position: relative;
    display: flex;
    width: 640px;
    height: 360px;
    border: solid 1px white;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.project .demo-img img {
    max-width: 100%;
    max-height: 100%;
}

.project .info {
    display: flex;
    flex-direction: column;
}

.project .info .name {
    display: flex;
    font-size: 2rem;
    margin-bottom: 10px;
    align-items: center;
}

.project .info .state {
    font-size: 1rem;
    background-color: #96B6C5;
    padding: 1px 5px;
    border-radius: 10px;
    margin-left: 5px;
    user-select: none;
}

.project .info .description {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.project .info .technologies {
    display: flex;
    margin-bottom: 10px;
}

.project .info .technologies > div {
    background-color: #285E7F;
    padding: 3px 10px;
    border-radius: 15px;
    margin: 0 3px;
    font-size: 1rem;
    cursor: default;
    user-select: none;
}

.project .info .website-source-code {
    display: flex;
    margin-bottom: 10px;
}

.project .info .website-source-code span {
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px white;
    user-select: none;
}

.project .info .website-source-code span:hover {
    cursor: pointer;
}

.project .info .website-source-code span:active {
    position: relative;
    top: 2px;
    left: 2px;
    background-color: white;
    color: #141414;
}

.project .info .website-source-code .website {
    margin-right: 50px;
}

.project .info .more {
    display: flex;
}

.project .info .more:hover {
    cursor: pointer;
}

.navigate-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.navigate-btn:hover {
    cursor: pointer;
}

.navigate-btn > img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.previous-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}