.projects-container {
    display: flex;
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
    height: calc(100% - 78px);
    flex-direction: column;
    color: white;
    align-items: center;
    font-size: 1.2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px 0;
    /* margin-left: 10%;
    margin-right: 10%; */
    margin-top: 100px;
}

.project {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.project .demo-img {
    position: relative;
    display: flex;
    width: 640px;
    /* max-height: 360px; */
    aspect-ratio: 16 / 9 ;
    height: auto;
    border: solid 1px white;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.project .demo-img img {
    max-width: 100%;
    max-height: 100%;
}

.project .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project .info .name {
    display: flex;
    font-size: 2rem;
    margin-bottom: 10px;
    align-items: center;
}

.project .info .state {
    font-size: 1rem;
    background-color: #96B6C5;
    padding: 1px 5px;
    border-radius: 10px;
    margin-left: 5px;
    user-select: none;
}

.project .info .more {
    display: flex;
}

.project .info .more:hover {
    cursor: pointer;
}

.project .info .description {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
}

.project .info .technologies {
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: repeat(auto-fit, minmax(61px, 115px));
    grid-column-gap: 3px;
    grid-row-gap: 5px;
}

.project .info .technologies > div {
    background-color: #285E7F;
    padding: 3px 10px;
    border-radius: 15px;
    /* margin: 0 3px; */
    font-size: 1rem;
    cursor: default;
    user-select: none;
}

.project .info .website-source-code {
    display: flex;
    margin-bottom: 10px;
}

.project .info .website-source-code span {
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px white;
    user-select: none;
}

.project .info .website-source-code span:hover {
    cursor: pointer;
}

.project .info .website-source-code span:active {
    position: relative;
    top: 2px;
    left: 2px;
    background-color: white;
    color: #141414;
}

.project .info .website-source-code .website {
    margin-right: 50px;
}

.navigate-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.navigate-btn:hover {
    cursor: pointer;
}

.navigate-btn > img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.previous-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

@media screen and (max-width: 1136px) {
    .project {
        flex-direction: column-reverse;
        width: 640px;
        margin: 0 auto 50px;
    }

    .project .info {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 711px) {
    .project {
        width: 100%;
    }

    .project .info .name {
        font-size: 1.5rem;
    }

    .project .info .state {
        font-size: 0.75rem;
    }

    .project .demo-img {
        width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
    }
}