.about {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 78px;
    /* background-color: #141414; */
    color: white;
    width: 100%;
}

.about > div {
    margin-left: 150px;
    margin-right: 150px;
}

.total-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 100px;
}

.total-info .title {
    display: flex;
    font-size: 2rem;
}

.total-info .signature {
    display: flex;
    font-size: 1.25rem;
    text-align: left;
}

.skills-container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.skills-container .title {
    display: flex;
    margin-bottom: 50px;
    font-size: 2rem;
    align-items: center;
}

.skills-container .title .drop-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.skills-container .title .drop-btn:hover {
    cursor: pointer;
}

.skills-container .title .drop-btn img {
    max-height: 1rem;
    max-width: 31px;
    aspect-ratio: 31 / 16;
}

.tech-skills {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid-container {
    user-select: none;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(267.13px, 1fr));
    /* grid-template-rows: repeat(3, auto); */
    grid-row-gap: 100px;
}

@media (max-width: 630px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.grid-item.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.skill .image img {
    width: 96px;
    height: 96px;
    margin-bottom: 10px;
}

.educations-container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 100px;
}

.educations-container .title {
    display: flex;
    font-size: 2rem;
    margin-bottom: 50px;
}

.education {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 10px 0;
}

.education .logo img {
    width: 64px;
    height: 64px;
}

.education .logo {
    margin-right: 10px;
}

.education .info > div {
    display: flex;
    text-align: left;
}

.education .info .school-name {
    font-weight: 700;
}