.dashboard {
    display: flex;
    position: absolute;
    left: 0;
    top: 78px;
    /* background-color: #141414; */
    color: white;
    width: 100%;
    height: calc(100% - 78px);
    align-items: center;
    z-index: 1;
}



.avatar {
    display: flex;
    max-width: 300px;
    max-height: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 200px;
    /* margin-right: 200px; */
}

.avatar img {
    max-width: 300px;
    max-height: 300px;
    aspect-ratio: 1;
}

.bio-info {
    font-size: 2rem;
    font-family: 'Ubuntu Mono', monospace;
    /* margin-right: 300px; */
    margin: 0 auto;
}

.bio-title-container {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.bio-title {
    width: 259px;
    overflow: hidden;
    font-size: 4rem;
    animation: typing 1s steps(8), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

.bio-info .specialize {
    font-size: 4rem;
}

@keyframes typing {
    from {
        width: 0;
    }
}
      
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 1450px) {
    .dashboard {
        flex-direction: column;
        align-items: center;
    }

    .avatar {
        margin: 100px auto;
    }

    .bio-info {
        margin: 0 auto;
    }
}

@media (max-width: 710px) {
    .bio-info {
        font-size: 1rem;
    }

    .bio-info .specialize, .bio-title {
        font-size: 2rem;
    }

    .bio-title {
        width: 129.5px;
    }
}

@media (max-height: 720px) {
    .bio-info {
        font-size: 1rem;
    }

    .bio-info .specialize, .bio-title {
        font-size: 2rem;
    }

    .bio-title {
        width: 129.5px;
    }
}

@media (max-height: 520px) {
    .avatar {
        margin: 50px 0;
    }
}